#desktopAboutUsNav
  .navButtonContainer
    span.navButton(id='navRobertZurerButton') Robert Zurer
    span.navButton(id='navKateMcCammonButton') Kate McCammon
    span.navButton(id='navAlanLankinButton') Alan Lankin
    span.navButton(id='navAlbertFungButton') Albert Fung
#mobileAboutUsNav
  .mobileMenu
    span.mobileMenuItem(id='navRobertZurerMenu') Robert Zurer
    span.mobileMenuItem(id='navKateMcCammonMenu') Kate McCammon
    br
    span.mobileMenuItem(id='navAlanLankinMenu') Alan Lankin
    span.mobileMenuItem(id='navAlbertFungMenu') Albert Fung