.line
  .headerLabel Email Search
  select#auditEmailSelect.styled
  .auditButtonContainer
    span.saveCancelButton#displayAllAuditsButton Display All Audits
    span.saveCancelButton#displayCurrentAuditsButton Display Current Audits
    span.saveCancelButton#downloadAuditCsvButton Download Audit CSV
.line
  .auditTableContainer