h2 Upload Files
.line
  input(type='file', id='uploadMissionStatementFileInput', accept='.txt, .html')
  label(id='uploadMissionStatementLabel', for='uploadMissionStatementFileInput') Choose the mission statement file
  span#uploadMissionStatementButton.saveCancelButton Upload
.line
  input(type='file', id='uploadDetailsFileInput', accept='.txt, .html')
  label(id='uploadDetailsLabel', for='uploadDetailsFileInput') Choose the details file
  span#uploadDetailsButton.saveCancelButton Upload
.line
  input(type='file', id='uploadPoliciesFileInput', accept='.txt, .html')
  label(id='uploadPoliciesLabel', for='uploadPoliciesFileInput') Choose the policies file
  span#uploadPoliciesButton.saveCancelButton Uploads
.line
  input(type='file', id='uploadNewsFileInput', accept='.txt, .html')
  label(id='uploadNewsLabel', for='uploadNewsFileInput') Choose the news file
  span#uploadNewsButton.saveCancelButton Upload