.adminTestContainer
  input#critDateHidden(type='hidden')
  .line
    span.adminTestSpan Crit Date
    input#critDateInput(type='date' disabled)
  .line
    span.adminTestSpan Test
    span#testButton.saveCancelButton Test
  .line
    span.adminTestSpan Check MailChimp List For Member Email
    input#emailToCheckInput(type = 'text', value='ezurer@gmail.com')
    span#isOnMailChimpListButton.saveCancelButton Check
