#feedbackTypeHidden
.line
  span#submitFeedbackLabel Please let us know about your experience at the crit. Is there anything you would like to change or add?
.line
  textarea(id='feedbackInput', rows=10)
.feedbackButtonContainer.line
  span.saveCancelButton(id='submitFeedbackButton') Submit
  span.saveCancelButton(id='cancelSubmitFeedbackButton') Cancel
