span.navButton(id='navAboutUsButton') About Us
span.navButton(id='navDisplayMemberNewsButton') Member News
// span.navButton(id='navAuditsButton') Audits
a(href='https://www.instagram.com/phillygroupcrit/', title='@phillygroupcrit', target='_blank')
  img(src='/images/instagram.png')
a(href='mailto:admin@phillycrit.com', title='Email Us', target='_blank')
  img(src='/images/email.png')