doctype html
html
  head
    title Philly Crit
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@600&display=swap", rel="stylesheet")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    meta(name="fb:app_id" content="2385629511680943")
    meta(name="og:title", content="Philly Crit")
    meta(name="og:type", content="product")
    meta(name="og:url", content="http://www.phillycrit.com/")
    meta(name="og:image", content="http://www.phillycrit.com/uploads/favicon.jpg?v=1")
    meta(name="og:site_name", content="Philly Crit")
    meta(name="og:description", content="Philly Crit")
    link(rel="stylesheet", href="/stylesheets/admin/admin.css")
    link(rel="stylesheet", href="/stylesheets/admin/adminAudit.css")
    link(rel="stylesheet", href="/stylesheets/admin/adminCreateEvent.css")
    link(rel="stylesheet", href="/stylesheets/admin/adminListEvents.css")
    link(rel="stylesheet", href="/stylesheets/admin/adminSettings.css")
    link(rel="stylesheet", href="/stylesheets/admin/adminMember.css")
    link(rel="stylesheet", href="/stylesheets/admin/adminTest.css")
    link(rel="stylesheet", href="/stylesheets/admin/adminMemberNews.css")
    link(rel="stylesheet", href="/stylesheets/main.css")
    link(rel="stylesheet", href="/stylesheets/navigationMenu.css")
    link(rel="stylesheet", href="/stylesheets/loginRegister.css")
    link(rel="stylesheet", href="/stylesheets/feedback.css")
    link(rel="stylesheet", href="/stylesheets/signupSheet.css")
    link(rel="stylesheet", href="/stylesheets/updateMemberInfo.css")
    link(rel="stylesheet", href="/stylesheets/navigationMenu.css")
    link(rel="stylesheet", href="/stylesheets/aboutUs.css")
    link(rel="stylesheet", href="/stylesheets/footer.css")
    link(rel="stylesheet", href="/stylesheets/presenterQuestionnaire.css")
    link(rel="stylesheet", href="/stylesheets/memberNews.css")
    link(rel="stylesheet", href="/stylesheets/membersList.css")
    link(rel="stylesheet", href="/stylesheets/mediaQueries.css")
    link(rel="stylesheet", href="//cdn-images.mailchimp.com/embedcode/classic-061523.css")
    link(rel="stylesheet", href="/stylesheets/mailChimp.css")
    script(type="text/javascript", src="/javascripts/jquery.js")
    script(type="text/javascript", src="/javascripts/bundle.js?v=2025_08-16")
  body
    #modal.modal
    .adminContent
      block adminContent
    .content
      #display
      block content
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-MYL0FSMZPX');