span.enterEmailSpan Please enter your email:
input(id='loginInput', type = 'text')
span.emptySpan
span(id='loginErrorSpan')
span(id='emailNotFoundMessage')
.registrationButtonSection.section
  p Please note:  We respect your privacy. The email that you enter when you register will never be shared with anyone nor exposed to the public.
  p By registering, you will automatically be added to our email list. If you ever wish to be removed from this list, simply click the unsubscribe link.
  span(id='registerButton') Register