#memberNewsContainer.modal-content
  img#whitebanner(src='../uploads/whitebanner.jpg')
  span#memberNewsCloseButton(title='Close') &times; 
  #memberNewsHeader Member Exhibitions
  #addYourNews To enter your own news, sign in and click Submit News. It should show up here within the next day or so.
  #memberNews