.memberNewsEntryContainer
  .memberNewsAddOrUpdateButtonContainer
    span.memberNewsHeaderSpan Please let us know about any current or upcoming shows that you are in. The title, closing date, venue and location are required.
    span.memberNewsHeaderSpan The location can be online. Your news should show up on the member news splash screen within the next day or so.
    span#submitMemberNewsButton.saveCancelButton Publish
    span#cancelSubmitMemberNewsButton.saveCancelButton Cancel
  include memberNewsAddOrUpdateContainer.pug
