.signupSelectContainer
  .signupContainer
    span.signupMessageSpan Sign up for a crit
    // span#noEventsScheduledSpan Stay tuned ... we're having some technical difficulties.
    span#noEventsScheduledSpan Stay tuned ... working on scheduling the next crit.
    select#signupSelect 
#currentEventSection
